/* *****Default****** */
/* #MainMenu{
  visibility: hidden;
}
footer{
  visibility: hidden;
}
header{
  visibility: hidden;
} */
/* span.css-10trblm.e16nr0p30{
  color:whitesmoke;
  margin:auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
} */



/* div.css-1n76uvr.e1tzin5v0{
  
  padding-top:100px;
} */



/* p {
   position: fixed;
  top:230px;
  left:80px;
  font-size: 50px; 
} */
/* 
section.main.css-k1vhr4.egzxvld3{
  position:fixed;
  right:0;
  top:0;
  width:100%;
} */

